:root {
  --main-background-color: #ffffff;
  --main-border-color: #d6d6d6;
}

:root {
  --pure-white: #ffffff;

  --white-02: #f2f2f2;

  --grey-01: #6b7280;

  --color-00: #0c120c;
  --color-01: #5c5d8d;
  --color-02: #654f6f;
  --color-03: #f5e3e0;
  --color-04: #003049;
  --color-05: #eea7a0;

  --color-06: #f77f00;
  --color-07: #fcbf49;
  --color-08: #eae2b7;

  --color-09: #344966;
  --color-10: #00bd9d;
  --color-11: #d6d6d6;
  --color-12: #333333;
  --color-13: #ececec;
  --color-14: #41ead4;
  --color-15: #212227;
  --color-16: #bdd4e7;
  --color-17: #8693ab;
  --color-18: #637074;
  --color-19: #aab9cf;
}

:root {
  // Buttons
  --button-primary-background: #0c120c;
  --button-primary-hover: #0c120c;

  --button-secondary-background: #ffffff;
  --button-secondary-hover: #ffffff;
  --button-secondary-active: #ffffff;

  --button-tertiary-hover: #bdd4e7;
  --button-tertiary-active: #c1cddd;
}
