@use "@/styles/helpers/functions" as *;

:root {
  --text-color-primary: var(--color-00);

  --global-transition-time-and-function: 0.25s ease;
  --global-transition-time-and-function-extended: 0.5s ease;

  --app-header-height: #{toRem(72px)};
  --app-main-max-width: #{toRem(1440px)};
  --app-content-max-width: #{toRem(800px)};
}
