@use '@/styles/forwarder' as *;
@use '@/styles/helpers/animations' as *;

.svg {
  max-width: toRem(24px);

  &-spinner {
    place-self: center;
    animation: spin 0.8s linear infinite;
  }

  &-check {
    color: var(--color-10);
  }

  &-error {
    color: var(--red-01);
  }
}
