@use "@/styles/forwarder" as *;

.user-data-table {
  display: grid;

  &:has(.spinner) {
    min-height: toRem(150px);
  }

  &--identities {
    @include media-breakpoint-up(sm) {
      padding-inline: toRem(16px);
    }
  }
}

.user-informations {
  display: grid;
  grid-auto-rows: max-content;
  gap: toRem(16px);
  margin-bottom: toRem(40px);

  &__data-row {
    display: grid;
    align-items: center;
    gap: toRem(4px);
    min-height: toRem(24px);

    &--one-liner {
      grid-template-columns: 1fr max-content;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 0.4fr 0.6fr;
    }

    .property {
      color: var(--color-12);
      font-size: toRem(14px);
      line-height: 140%;
      font-weight: 700;
    }

    .value {
      font-size: toRem(14px);
      line-height: 140%;

      &.status {
        &--verified {
          color: var(--color-10);
        }

        &--not-verified {
          color: var(--color-12);
        }
      }
    }
  }

  &--identity {
    gap: toRem(4px);
    padding: toRem(16px);
    border-radius: toRem(8px);
    border-color: var(--main-border-color);
    border-width: toRem(1px);
    border-style: solid;

    .divider {
      margin: 0;
    }

    .user-informations__data-row {
      min-height: initial;
    }
  }

  &__error {
    display: grid;
    gap: toRem(8px);
  }
}
