NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_API_GATEWAY_URL=http://localhost:8080/api/v1

# Docker (.env.docker):
# NEXT_API_GATEWAY_URL=http://synex-api-gateway-service:8080/api/v1

#auth0
APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=