@use '@/styles/forwarder' as *;

.error-page {
  place-self: center;
  display: grid;
  place-items: center;
  gap: toRem(32px);

  &__label {
  }

  &__illustration {
    max-width: toRem(180px);
  }
}
